################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCodeTemplate/.vs/LeetCodeTemplate/FileContentIndex/72e6602b-207b-45ef-b6e8-364d3aec69d0.vsidx
